:root {

  /* color */
  --background-nav:#020203;
  --nav-color:#FFFFFF;
  --grey:#74798C;
  --color-name-data:#20253A;
  --primary-red:#FF0101;
  --graph-red:#E60000;
  --graph-black:#282D30;

  /* font */
  --font:'Roboto';
  --default-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --size:12px;
}

body {
  font-family:var(--font , var(--default-font));
  font-size: var(--size);
}


