:root {

  /* color */
  --background-nav:#020203;
  --color-primary:#FFFFFF;
  --tertiary-color:#74798C;
  --color-name-data:#20253A;
  --secondary-color:#FF0101;
  --graph-primary:#E60000;
  --graph-secondary:#282D30;

  /* font */
  --font:'Roboto';
  --default-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --size:12px;
}

body {
  font-family:var(--font , var(--default-font));
  font-size: var(--size);
  font-weight:500;
}


