.userWrapper {
    width: 100%;
    padding:30px;
    margin-left:20px;
}
.user-title {
    font-size:calc(var(--size) * 4 );
    padding:10px;
}
.user-title > span {
    color:var(--secondary-color);
}
.user-message {
    font-size:calc(var(--size) + 6px );
    font-weight: 400;
    padding:10px;
    margin-left: 5px;
}